<div class="row">
  <div class="col-xs-8 col-xs-offset-2">
    <div class="well well-lg"> 
        <% @articles.each do|t| %>
          <div class="article-title">
            <%=link_to t.title, article_path(t) %>
          </div>
          <div class="article-body"> 
                <%=truncate(t.description,length:100)%>
          </div>      
  
                 <div class="article-actions">
         
                    <%= link_to 'edit',edit_article_path(t),class: "btn btn-xs btn-success" %>
                    <%= link_to 'delete',article_path(t),method: :destroy, 
                                        data: {confirm: "Are you sure to delete the article"} ,
                                         class: "btn btn-xs btn-danger" %>
                   </div>
            <%end%>
        </div>
   </div>
</div>
   