<div class="about">
  <h1> Hi,</h1>
<h2>I am Tharun, a full-stack Web developer.

</h2>
<h3>Alpha Blog is a website for of passionate article-writers, explorers, knowledge seekers. </h3>
<h4>
  This website was built on Ruby-on-rails & bootstrap (Html, CSS, JavaScript).
</h4>
<hr>
<address>
  <strong>Aishwarya Group, Inc.</strong><br>
  497 Maple Street, apt 2<br>
  New Hampshire, Manchester 03104<br>
  <abbr title="Phone">P:</abbr> (443) 574-6989
</address>

<address>
  <strong>Tharun Vavilapalli</strong><br>
  <a href="mailto:#">tharun505@gmail.com</a>
</address>
<%= link_to "home", root_path,class: "btn btn-xs btn-primary"%>
</div>
