
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Tharun Vavilapalli</title>
<style type="text/css">
<!--
body {
background-color: #CFC;
}
-->
</style></head>
<body>
<h2><center>
 <p><font face ="calibri" size="8" color="red" >First Website Introductions <br />
 Tharun Sri Hanmesh<br />
 New England College
 </p>
 <p><img src=C:\study\Html\tharun.jpg alt="" width="600" height="600" border="2" /></p></center>
</h2>
<p><font face ="calibri" size="8" color="green" > Hi,I am Tharun, I am from Hyderabad(India). I have completed my master's recently</font></p>
<p><strong><font face ="calibri" size="10px" color="brown">This website allows you to write articles, view, edit and also delete them.</font></strong>
</p>
<p>
  <%= link_to 'click here to create and view articles', articles_path %>
</p>
</p>
<p><strong><font face ="calibri" size="10px" color="purple">
Hope You have a great time here.</strong>
</p>



</body>
</html>