
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Tharun Vavilapalli</title>
<style type="text/css">
<!--
body {
background-color: #CFC;
}
-->
</style></head>
<body>
<h2><center>
 <p><font face ="calibri" size="8" color="red" >First Web Assignment  Introductions<br />
 Tharun Sri Hanmesh<br />
 New England College
 </p>
 <p><img src=C:\study\Html\tharun.jpg alt="" width="600" height="600" border="2" /></p></center>
</h2>
<p><font face ="calibri" size="8" color="green" > Hi,I am Tharun, I am from Hyderabad(India). I have completed my  bachelors degree in computer science last year.
I have transferred from Western Kentucky University for the summer intake. I presently work on campus at the simon's cafe.</font></p>
<p><strong><font face ="calibri" size="10px" color="brown">Here, at NEC the structure of the course is designed such that the student can attend the college once or twice in a week. It also offers courses which are trending in current market, which later can help in fetching a top notch job.</font></strong>
</p>

<p><strong><font face ="calibri" size="10px" color="black">I have completed Introduction to Java and advanced Java courses in my last semester. I worked as a Teaching Assistant for Prof.Jim Ovens(Java Instructor)for few weeks. I am currently doing my computer security course along with web application and development.</font> </strong>
</p>
<p><strong><font face ="calibri" size="10px" color="purple">My Interests lies in "music", I like singing and composing Indian commercial music. I like travelling to new places and exploring new things.
Hope You have a great time here at NEC and great days ahead.</strong>
</p>

</body>
</html>