@import "bootstrap-sprockets";
@import "bootstrap";

#logo{
       float: left;
       font-size: 1.7em;
       color: #ff5151;
       ext-transform: uppercase;
       letter-spacing: -1px;
      
     }
     
  .panel-title{
  
  font-weight: bold;
    
    
  }  
  .center {
    
    text-align: center;
  }
  
.jumbotron{
  background-image: asset-url('wallpaper-polygonal-colorful-abstract-1920-x-1080-full-hd');
  background-size: cover;
  height: 600px;

}

.jumbotron h1{
  text-align: center;
  margin-bottom: 30px;
  color : white;
  
  font-family : "comic sans ms" ;
}


.btn-xlarge{
  font-size: 1.7em;
   font-family : "comic sans ms" ;
}

.footer {

        margin-top: 45px;
        
        padding-top: 5px;
        
        border-top: 1px solid #eaeaea;
        
        color: #777;
}
.footer small{
              float: left;
            }
  
  .footer ul{
              float : right;
              list-style : none;
              }
.article-actions {

                    border-top: 2px solid #eaeaea;
                    padding-top: 2px;
                  }

.article-title{
  padding-top: 20px;
  font-weight: bold ;
  
}
.article-body{
                    border-top: 2px solid #eaeaea;
                    padding-top: 20px;
                    padding-bottom: 20px ;
}


.description {
              margin-top: 0;
              }

 