@import "bootstrap-sprockets";
@import "bootstrap";

#logo{
       float: left;
       font-size: 1.7em;
       color: #ff5151;
       ext-transform: uppercase;
       letter-spacing: -1px;
      
     }
     
    
  .center {
    
    text-align: center;
  }