<div class ="container">
  <footer class ="footer">
     <small>
    copyright &copy; by Tharun Vavilapalli
     </small>
    <nav>
      <ul>
         <li><%= link_to "about", about_path %></li>
       </ul>
    </nav>
  
  </footer>
  
  
</div>