<div class="row">
  <div class="col-xs-12" >
     <% flash.each do|names,msg| %>
         <div class= 'alert alert-<%="#{names}"%>'>
            <a href ='#'class = 'close' data-dismiss='alert'>&#215</a>
            <%= content_tag :div, msg, :id => "flash_#{names}" if msg.is_a?(String) %>
         </div>
         <%end%>
  </div>  
</div>